<p id="notice"><%= notice %></p>
<%= javascript_pack_tag 'main.js' %>
<h1>ユーザー検索</h1>
<%= javascript_include_tag 'uranai.js' %>
<div>
<%= javascript_include_tag 'time.js' %>
</div>

<%= render 'index_form', user: @user, method: :get, url: "/#{params[:id].to_i}" %>

<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>性別</th>
      <th>生年月日</th>
      <th>趣味</th>
      <th>職業</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.sex %></td>
        <td><%= user.birth %></td>
        <td><%= user.hobby %></td>
        <td><%= user.job %></td>
        <td><%= link_to '詳細', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></td>
      </tr>
    <% end %>
    <tr>
      <td align = "center" colspan="8"><%= "#{params[:id]}ページ" %>
    </tr>
  </tbody>
</table>
<table>
  <tr>
    <% if params[:id].to_i == 1 %>
      <td align = "center" colspan="2">
      <%= @page %>
      </td>
      <% 1.upto(4) do |num| %>
        <% if @users_num > (10 * num) %>
          <td align = "center" colspan="2">
            <%= link_to "#{@page + num}", "#{params[:id].to_i + num}?#{request.query_parameters.to_query}" %>
          </td>
        <% end %>
      <% end %>
    <% elsif params[:id].to_i == 2 %>
      <td align = "center" colspan="2">
        <%= link_to "#{@page - 1}", "#{params[:id].to_i - 1}?#{request.query_parameters.to_query}" %>
      </td>
      <td align = "center" colspan="2">
        <%= @page %>
      </td>
      <% 2.upto(4) do |num| %>
        <% if @users_num > (10 * num) %>
          <td align = "center" colspan="2">
            <%= link_to "#{@page + (num - 1)}", "#{params[:id].to_i + (num - 1)}?#{request.query_parameters.to_query}" %>
          </td>
        <% end %>
      <% end %>
    <% elsif params[:id].to_i == (@users_num.to_f / 10.to_f).ceil - 1 %>
      <% if params[:id].to_i > 3 %>
       <td align = "center" colspan="2">
         <%= link_to "#{@page - 3}", "#{params[:id].to_i - 3}?#{request.query_parameters.to_query}" %>
       </td>
      <% end %>
　　　 <% (2).downto(-1) do |num| %>
          <td align = "center" colspan="2">
            <%= link_to "#{@page - num}", "#{params[:id].to_i - num }?#{request.query_parameters.to_query}" %>
          </td>
      <% end %>
    <% elsif params[:id].to_i == (@users_num.to_f / 10.to_f).ceil %>
      <% (4).downto(3) do |num| %>
        <% if params[:id].to_i > num %>
          <td align = "center" colspan="2">
          <%= link_to "#{@page - num}", "#{params[:id].to_i - num}?#{request.query_parameters.to_query}" %>
          </td>
        <% end %>
      <% end %>
      <% (2).downto(0) do |num| %>
          <td align = "center" colspan="2">
            <%= link_to "#{@page - num}", "#{params[:id].to_i - num }?#{request.query_parameters.to_query}" %>
          </td>
      <% end %>
    <% else %>
      <% (-2).upto(2) do |num| %>
          <td align = "center" colspan="2">
            <%= link_to "#{@page + num}", "#{params[:id].to_i + num }?#{request.query_parameters.to_query}" %>
          </td>
      <% end %>
    <% end %>
  </tr>
</table>
<br>
<table>
<tr>
  <% if params[:id].to_i >= 2 %>
    <td><%= link_to '最初へ', "/1?#{request.query_parameters.to_query}"%>
  <% end %>
  <% if @users_num - (params[:id].to_i * 10) > 0 %>
    <td><%= link_to '最後へ', "/#{(@users_num.to_f / 10.to_f).ceil}?#{request.query_parameters.to_query}"%>
  <% end %>
</tr>
</table>
<br>
<%= link_to 'ユーザー登録', new_user_path %>

<% @posts.each do |post| %>
 <div class="panel panel-success">
   <div class="panel-body">
    <%= link_to(post.name,"/users/#{post.id}") %>
   </div>
   <div class="panel-footer"></div>
 </div>
<% end %>
<%= paginate @posts, window: 2 %>

<table>
  <tr>
    <% @start_page.upto(@start_page + @page_count - 1) do |num| %>
      <td align = "center" colspan = "2">
      <% if num == @page %>
        <%= @page %>
      <% else %>
        <%= link_to "#{num}", "#{num}?#{request.query_parameters.to_query}" %>
      <% end %>
      </td>
      <% end %>
    </td>
  </tr>
</table>

<br><br>
<input type="button" value="寿司占い" onclick="ura();">
