<p id="notice"><%= notice %></p>
<h1>ユーザー情報</h1>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>性別:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @user.birth %>
</p>

<p>
  <strong>趣味:</strong>
  <%= @user.hobby %>
</p>

<p>
  <strong>職業:</strong>
  <%= @user.job %>
</p>

<p>
  <strong>好きな食べ物:</strong>
  <% @user.favfoods.each do |f| %>
  <%= f.favorite_food %>
  <% end %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '好きな食べ物', "/users/#{@user.id}/favfoods" %>|
<%= link_to '戻る', index_path(user: @user_params) %>
